.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: rgba(88, 151, 251, 0.16);
    color: white;
}
.select2-container--default:hover .select2-results__option--highlighted.select2-results__option--selectable:hover {
    background-color: rgb(74, 136, 234);
    color: white;
}
